{% extends 'store/main.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="content-wrapper">
    <div class="box" id="form-wrapper">
        <form id="form" method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">{% trans "Email address" %}:</label>
                <br>
                <input type="email" name="email" style="width: 230px">
            </div>
            <hr>
            <button class="btn btn-primary" type="submit">{% trans "Reset Password" %}</button>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </form>
    </div>
</div> 

{% endblock %}