{% extends 'store/main.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="content-wrapper">
    <div class="box" id="form-wrapper">
        <div class="form-label">
            <p><strong>{% trans "Input new password" %}</strong></p>
        </div>
        <form method="post" action="{% url 'password_change' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}