{% extends 'store/main.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<p>Art.  8.  [Regulamin świadczenia usług drogą elektroniczną]
    1.  Usługodawca:
    1a określa regulamin świadczenia usług drogą elektroniczną, zwany dalej "regulaminem";
    2a nieodpłatnie udostępnia usługobiorcy regulamin przed zawarciem umowy o świadczenie takich usług, a także - na jego żądanie - w taki sposób, który umożliwia pozyskanie, odtwarzanie i utrwalanie treści regulaminu za pomocą systemu teleinformatycznego, którym posługuje się usługobiorca.
    2.  Usługobiorca nie jest związany tymi postanowieniami regulaminu, które nie zostały mu udostępnione w sposób, o którym mowa w ust. 1 pkt 2.
    3.  Regulamin określa w szczególności:
    1c rodzaje i zakres usług świadczonych drogą elektroniczną;
    2c warunki świadczenia usług drogą elektroniczną, w tym:
    ac wymagania techniczne niezbędne do współpracy z systemem teleinformatycznym, którym posługuje się usługodawca,
    bc zakaz dostarczania przez usługobiorcę treści o charakterze bezprawnym;
    3c warunki zawierania i rozwiązywania umów o świadczenie usług drogą elektroniczną;
    4c tryb postępowania reklamacyjnego.
    4.  Usługodawca świadczy usługi drogą elektroniczną zgodnie z regulaminem.
    1.  Usługodawca:
    1a określa regulamin świadczenia usług drogą elektroniczną, zwany dalej "regulaminem";
    2a nieodpłatnie udostępnia usługobiorcy regulamin przed zawarciem umowy o świadczenie takich usług, a także - na jego żądanie - w taki sposób, który umożliwia pozyskanie, odtwarzanie i utrwalanie treści regulaminu za pomocą systemu teleinformatycznego, którym posługuje się usługobiorca.
    2.  Usługobiorca nie jest związany tymi postanowieniami regulaminu, które nie zostały mu udostępnione w sposób, o którym mowa w ust. 1 pkt 2.
    3.  Regulamin określa w szczególności:
    1c rodzaje i zakres usług świadczonych drogą elektroniczną;
    2c warunki świadczenia usług drogą elektroniczną, w tym:
    ac wymagania techniczne niezbędne do współpracy z systemem teleinformatycznym, którym posługuje się usługodawca,
    bc zakaz dostarczania przez usługobiorcę treści o charakterze bezprawnym;
    3c warunki zawierania i rozwiązywania umów o świadczenie usług drogą elektroniczną;
    4c tryb postępowania reklamacyjnego.
    4.  Usługodawca świadczy usługi drogą elektroniczną zgodnie z regulaminem.
    1.  Usługodawca:
    1a określa regulamin świadczenia usług drogą elektroniczną, zwany dalej "regulaminem";
    2a nieodpłatnie udostępnia usługobiorcy regulamin przed zawarciem umowy o świadczenie takich usług, a także - na jego żądanie - w taki sposób, który umożliwia pozyskanie, odtwarzanie i utrwalanie treści regulaminu za pomocą systemu teleinformatycznego, którym posługuje się usługobiorca.
    2.  Usługobiorca nie jest związany tymi postanowieniami regulaminu, które nie zostały mu udostępnione w sposób, o którym mowa w ust. 1 pkt 2.
    3.  Regulamin określa w szczególności:
    1c rodzaje i zakres usług świadczonych drogą elektroniczną;
    2c warunki świadczenia usług drogą elektroniczną, w tym:
    ac wymagania techniczne niezbędne do współpracy z systemem teleinformatycznym, którym posługuje się usługodawca,
    bc zakaz dostarczania przez usługobiorcę treści o charakterze bezprawnym;
    3c warunki zawierania i rozwiązywania umów o świadczenie usług drogą elektroniczną;
    4c tryb postępowania reklamacyjnego.
    4.  Usługodawca świadczy usługi drogą elektroniczną zgodnie z regulaminem.
    1.  Usługodawca:
    1a określa regulamin świadczenia usług drogą elektroniczną, zwany dalej "regulaminem";
    2a nieodpłatnie udostępnia usługobiorcy regulamin przed zawarciem umowy o świadczenie takich usług, a także - na jego żądanie - w taki sposób, który umożliwia pozyskanie, odtwarzanie i utrwalanie treści regulaminu za pomocą systemu teleinformatycznego, którym posługuje się usługobiorca.
    2.  Usługobiorca nie jest związany tymi postanowieniami regulaminu, które nie zostały mu udostępnione w sposób, o którym mowa w ust. 1 pkt 2.
    3.  Regulamin określa w szczególności:
    1c rodzaje i zakres usług świadczonych drogą elektroniczną;
    2c warunki świadczenia usług drogą elektroniczną, w tym:
    ac wymagania techniczne niezbędne do współpracy z systemem teleinformatycznym, którym posługuje się usługodawca,
    bc zakaz dostarczania przez usługobiorcę treści o charakterze bezprawnym;
    3c warunki zawierania i rozwiązywania umów o świadczenie usług drogą elektroniczną;
    4c tryb postępowania reklamacyjnego.
    4.  Usługodawca świadczy usługi drogą elektroniczną zgodnie z regulaminem.
    1.  Usługodawca:
    1a określa regulamin świadczenia usług drogą elektroniczną, zwany dalej "regulaminem";
    2a nieodpłatnie udostępnia usługobiorcy regulamin przed zawarciem umowy o świadczenie takich usług, a także - na jego żądanie - w taki sposób, który umożliwia pozyskanie, odtwarzanie i utrwalanie treści regulaminu za pomocą systemu teleinformatycznego, którym posługuje się usługobiorca.
    2.  Usługobiorca nie jest związany tymi postanowieniami regulaminu, które nie zostały mu udostępnione w sposób, o którym mowa w ust. 1 pkt 2.
    3.  Regulamin określa w szczególności:
    1c rodzaje i zakres usług świadczonych drogą elektroniczną;
    2c warunki świadczenia usług drogą elektroniczną, w tym:
    ac wymagania techniczne niezbędne do współpracy z systemem teleinformatycznym, którym posługuje się usługodawca,
    bc zakaz dostarczania przez usługobiorcę treści o charakterze bezprawnym;
    3c warunki zawierania i rozwiązywania umów o świadczenie usług drogą elektroniczną;
    4c tryb postępowania reklamacyjnego.
    4.  Usługodawca świadczy usługi drogą elektroniczną zgodnie z regulaminem.
    1.  Usługodawca:
    1a określa regulamin świadczenia usług drogą elektroniczną, zwany dalej "regulaminem";
    2a nieodpłatnie udostępnia usługobiorcy regulamin przed zawarciem umowy o świadczenie takich usług, a także - na jego żądanie - w taki sposób, który umożliwia pozyskanie, odtwarzanie i utrwalanie treści regulaminu za pomocą systemu teleinformatycznego, którym posługuje się usługobiorca.
    2.  Usługobiorca nie jest związany tymi postanowieniami regulaminu, które nie zostały mu udostępnione w sposób, o którym mowa w ust. 1 pkt 2.
    3.  Regulamin określa w szczególności:
    1c rodzaje i zakres usług świadczonych drogą elektroniczną;
    2c warunki świadczenia usług drogą elektroniczną, w tym:
    ac wymagania techniczne niezbędne do współpracy z systemem teleinformatycznym, którym posługuje się usługodawca,
    bc zakaz dostarczania przez usługobiorcę treści o charakterze bezprawnym;
    3c warunki zawierania i rozwiązywania umów o świadczenie usług drogą elektroniczną;
    4c tryb postępowania reklamacyjnego.
    4.  Usługodawca świadczy usługi drogą elektroniczną zgodnie z regulaminem.
    1.  Usługodawca:
    1a określa regulamin świadczenia usług drogą elektroniczną, zwany dalej "regulaminem";
    2a nieodpłatnie udostępnia usługobiorcy regulamin przed zawarciem umowy o świadczenie takich usług, a także - na jego żądanie - w taki sposób, który umożliwia pozyskanie, odtwarzanie i utrwalanie treści regulaminu za pomocą systemu teleinformatycznego, którym posługuje się usługobiorca.
    2.  Usługobiorca nie jest związany tymi postanowieniami regulaminu, które nie zostały mu udostępnione w sposób, o którym mowa w ust. 1 pkt 2.
    3.  Regulamin określa w szczególności:
    1c rodzaje i zakres usług świadczonych drogą elektroniczną;
    2c warunki świadczenia usług drogą elektroniczną, w tym:
    ac wymagania techniczne niezbędne do współpracy z systemem teleinformatycznym, którym posługuje się usługodawca,
    bc zakaz dostarczania przez usługobiorcę treści o charakterze bezprawnym;
    3c warunki zawierania i rozwiązywania umów o świadczenie usług drogą elektroniczną;
    4c tryb postępowania reklamacyjnego.
    4.  Usługodawca świadczy usługi drogą elektroniczną zgodnie z regulaminem.
    1.  Usługodawca:
    1a określa regulamin świadczenia usług drogą elektroniczną, zwany dalej "regulaminem";
    2a nieodpłatnie udostępnia usługobiorcy regulamin przed zawarciem umowy o świadczenie takich usług, a także - na jego żądanie - w taki sposób, który umożliwia pozyskanie, odtwarzanie i utrwalanie treści regulaminu za pomocą systemu teleinformatycznego, którym posługuje się usługobiorca.
    2.  Usługobiorca nie jest związany tymi postanowieniami regulaminu, które nie zostały mu udostępnione w sposób, o którym mowa w ust. 1 pkt 2.
    3.  Regulamin określa w szczególności:
    1c rodzaje i zakres usług świadczonych drogą elektroniczną;
    2c warunki świadczenia usług drogą elektroniczną, w tym:
    ac wymagania techniczne niezbędne do współpracy z systemem teleinformatycznym, którym posługuje się usługodawca,
    bc zakaz dostarczania przez usługobiorcę treści o charakterze bezprawnym;
    3c warunki zawierania i rozwiązywania umów o świadczenie usług drogą elektroniczną;
    4c tryb postępowania reklamacyjnego.
    4.  Usługodawca świadczy usługi drogą elektroniczną zgodnie z regulaminem.

    1.  Usługodawca:
    1a określa regulamin świadczenia usług drogą elektroniczną, zwany dalej "regulaminem";
    2a nieodpłatnie udostępnia usługobiorcy regulamin przed zawarciem umowy o świadczenie takich usług, a także - na jego żądanie - w taki sposób, który umożliwia pozyskanie, odtwarzanie i utrwalanie treści regulaminu za pomocą systemu teleinformatycznego, którym posługuje się usługobiorca.
    2.  Usługobiorca nie jest związany tymi postanowieniami regulaminu, które nie zostały mu udostępnione w sposób, o którym mowa w ust. 1 pkt 2.
    3.  Regulamin określa w szczególności:
    1c rodzaje i zakres usług świadczonych drogą elektroniczną;
    2c warunki świadczenia usług drogą elektroniczną, w tym:
    ac wymagania techniczne niezbędne do współpracy z systemem teleinformatycznym, którym posługuje się usługodawca,
    bc zakaz dostarczania przez usługobiorcę treści o charakterze bezprawnym;
    3c warunki zawierania i rozwiązywania umów o świadczenie usług drogą elektroniczną;
    4c tryb postępowania reklamacyjnego.
    4.  Usługodawca świadczy usługi drogą elektroniczną zgodnie z regulaminem.
    1.  Usługodawca:
    1a określa regulamin świadczenia usług drogą elektroniczną, zwany dalej "regulaminem";
    2a nieodpłatnie udostępnia usługobiorcy regulamin przed zawarciem umowy o świadczenie takich usług, a także - na jego żądanie - w taki sposób, który umożliwia pozyskanie, odtwarzanie i utrwalanie treści regulaminu za pomocą systemu teleinformatycznego, którym posługuje się usługobiorca.
    2.  Usługobiorca nie jest związany tymi postanowieniami regulaminu, które nie zostały mu udostępnione w sposób, o którym mowa w ust. 1 pkt 2.
    3.  Regulamin określa w szczególności:
    1c rodzaje i zakres usług świadczonych drogą elektroniczną;
    2c warunki świadczenia usług drogą elektroniczną, w tym:
    ac wymagania techniczne niezbędne do współpracy z systemem teleinformatycznym, którym posługuje się usługodawca,
    bc zakaz dostarczania przez usługobiorcę treści o charakterze bezprawnym;
    3c warunki zawierania i rozwiązywania umów o świadczenie usług drogą elektroniczną;
    4c tryb postępowania reklamacyjnego.
    4.  Usługodawca świadczy usługi drogą elektroniczną zgodnie z regulaminem.
    
</p>
<p>
    Polityka prywatności:  
</p>
<a href="{% url 'terms_of_service_pdf' %}" download="Terms_of_Service.pdf">Download Terms of Service</a>

{% endblock %}